.custom-checkbox .form-check-input:checked {
  background-color: #155236;
  border: #155236;
}

.custom-checkbox .form-check-input:focus {
  box-shadow: none;
}

.custom-switch .form-check-input {
  width: 50px !important;
  height: 25px;
  background-color: #ccc;
  border-color: #ccc;
  margin-top: -1px;
}

.custom-switch .form-check-input:not(:checked) {
  background-color: #ccc;
  border-color: #f5f5f5;
}

.custom-switch .form-check-input:checked {
  background-color: #155239;
  border-color: #155239;
}

.custom-switch .form-check-input::before {
  background-color: #fff;
  width: 26px;
  height: 26px;
}

.custom-switch .form-check-input:focus {
  box-shadow: none;
}
