.login-container {
  min-height: 100vh;
}

.login-card {
  background-color: #ffffff;
  border-radius: 10px !important;
  padding: 30px;
  border: none !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-input {
  border-radius: 30px !important;
  padding: 10px 15px;
  border: 1px solid #ddd;
}

.custom-button {
  background-color: #155239 !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0e3726 !important;
}

.form-label {
  font-weight: 500;
  color: #333;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.card-body p {
  color: #666;
  font-size: 14px;
}

.forgot-text {
  color: #007bff !important;
}

.forgot-text:hover {
  text-decoration: underline;
}
